<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
    <link href="/form.css" rel="stylesheet">
</head>
<body>
    <header><h1>Quora Posts</h1></header>
    <hr>
    <br>
    <br>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <h1>Edit your post</h1>
        <p>Post id: <%=post.id%></p>
        <p>Post username: <%=post.username%></p>
        <textarea name="content" id="content" placeholder="Enter your content." required><%=post.content%></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>