<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
    <link href="/form.css" rel="stylesheet">
</head>
<body>
    <header><h1>Quora Posts</h1></header>
    
    <hr>
    <br>
    <br>
    <form method="post" action="/posts">
        <h1>Create a New Post</h1>
        <input type="text" placeholder="Enter username" name="username" required><br>
        <textarea name="content" id="content" placeholder="Enter your content." required></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>