<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="/style.css" rel="stylesheet" />
    <style>
      .nothing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Quora Posts</h1>
      <a href="/posts/new"><button>Create a new post</button></a>
    </header>
    <hr />
    <br />
    <br />
    <div class="nothing">
      <h3>Nothing Here Proceed to</h3>
      <a href="/posts"><button>Posts</button></a>
    </div>
    <br />
  </body>
</html>
